@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
.whole_Main {
  color: white;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 50% 50%;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.left {
  width: 65%;
  margin-left: 200px;
}

.left h1 {
  font-size: 60px;
}

.left .typewriterpara {
  margin: 20px 0;
  height: 20px;
  letter-spacing: 5px;
  font-size: 30px;
  margin-top: 10px;
  transition-delay: 0.2s;
}

.left span {
  color: aqua;
}

.right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.right img {
  height: 50vh;
  margin-left: 250px;
}
