@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

.whole_Main {
  margin: 0;
  padding: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  height: 100vh;
  background: linear-gradient(to right, #000000, #2d3436);
  font-size: 20px;
  position: relative;
  width: 100vw;
}

.left {
  flex: 0.5;
  margin-left: 12.5%;
}

.left h1 {
  font-size: 3.75rem;
  margin-top: 1em;
}

.left .typewriterpara {
  margin: 1.25em 0em;
  height: 1.25em;
  letter-spacing: 5px;
  font-size: 1.875rem;
  margin-top: 0.625em;
  transition-delay: 0.2s;
  color: white;
}

.left span {
  color: aqua;
}

.left .effect:hover {
  opacity: 0.6;
  transition: 0.3s;
}

.right {
  flex: 0.5;
  display: flex;
  align-items: center;
  height: 80vh;
}

.right img {
  height: 50vh;
  margin: auto;
}

@media (max-width: 1025px) {
  .whole_Main {
    flex-direction: column;
    height: 150vh;
    text-align: center;
    object-fit: cover;
    overflow: hidden;
  }

  .right img {
    height: 40vh;
  }

  .left .typewriterpara {
    font-size: 1rem;
  }
}
